@font-face {
    font-family: 'Roboto';
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

#brand {
    font-size: 24px;
    font-family: 'Roboto';
}

.heading1 {
    font-size: 30px;
    background-color: transparent;
}

.heading2 {
    font-size: 24px;
    background-color: transparent;
}

.body1 {
    font-size: 18px;
    background-color: transparent;
}

.body2 {
    font-size: 14px;
    background-color: transparent;
}

.label {
    font-size: 12px;
    background-color: transparent;
}